body{
    padding: 0;
    margin: 0;
}
.head{

    color: white;
    text-align: center;
    background-color:black;
    padding: 5px;
}
.container{
    
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 25px;
    padding: 10px;

    
}
.card  {

height: 350px;
width: 200px;
margin: 10px;
text-align: center;
border: 2px solid black;
background-color: white;
display: flex;
justify-content: space-between;
flex-direction: column;
 
}
.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    

}
.card button{
    padding: 10px 0;
    background-color: black;
    color: white;
    cursor: pointer;
    width:100% ;
    border: none;
  

}
.card p{
    flex-grow: 1;
    
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}
.contact table{
    margin: auto;
}
.send{
    background-color: yellow;
    color: black;
    padding: 10px;
    width: 300px;
    cursor: pointer;
    gap: 5px;
}